* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  box-sizing: border-box;
  background-image: url('bg-image.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 100%;
}
body::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: -10;
}
.containter {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
}
nav {
  display: flex;
  text-align: center;
  justify-content: space-between;
}
nav h2 {
  color: #fff;
  padding: 40px 0 0 150px;
  font-size: 35px;
  font-family: 'Kalam', Arial, Helvetica, sans-serif, cursive;
}
nav ul {
  display: flex;
}
nav ul li {
  padding: 50px 35px 0 0;
  font-family: monospace;
  font-weight: 100;
  font-size: 20px;
}
nav ul li:nth-child(6) {
  padding-right: 100px;
}
nav ul li a {
  color: #fff;
}
nav ul li a:hover {
  color: #b8222c;
  transition: 0.3s;
}
.content {
  color: #fff;
  text-align: center;
  justify-content: center;
  padding-top: 150px;
}
.content h1 {
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-bottom: 15px;
}
.content .template {
  color: #fba20a;
}
.content p:nth-child(2) {
  padding-bottom: 20px;
}

.content-images {
  font-size: 75px;
}

.content p:nth-child(4) {
  padding: 20px 0 40px 0;
}

.buttons {
  border: none;
}
button {
  cursor: pointer;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15px 50px;
}
button:hover {
  opacity: 0.8;
}
.btn-1 {
  background-color: #06aeea;
  border: 0;
  outline: 0;
  padding: 15px 46px;
  margin-right: 10px;
}

.btn-2 {
  background-color: #ea9909;
  border: 0;
  outline: 0;
  margin-left: 5px;
}
